.course-content-wrapper {
    padding: 2rem;
}

.CourseListTab {
    float: left;
    width: 10%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
  
.CourseListTab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
    font-size: 17px;
}

.CourseListTab button:hover {
    background-color: #ddd;
}
  
.CourseListTab button.active {
    background-color: #ccc;
}
  
.CourseTab button:hover {
    border-color: #60a5fa;
    scale: 103%;
}
  
.CourseTab button.active {
    border-color: #60a5fa;
    color: #60a5fa;
    scale: 103%;
}

.CourseTab {
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 0.75rem;
    gap: 0.5rem;
    /* border: 1px solid #bfdbfe; */
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* width: 20%; */
    /* height: 300px; */
  }
  
.CourseTab button {
    display: block;
    border-radius: 1rem;
    background-color: #eff6ff;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: 2px solid #bfdbfe;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
    font-size: 17px;
} 

.CourseContentListing button:hover {
    color: #60a5fa;
    font-weight: 200;
}
  
.CourseContentListing button.active {
    border-color: #60a5fa;
    font-weight: 700;
}

.CourseContentListing {
    display: none;
    float: left;
    border: 2px solid #60a5fa;
    border-radius: 1rem;
    /* background-color: #f1f1f1; */
    width: 100%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
.CourseContentListing button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
    font-size: 17px;
} 

.CourseContent {
    display: none;
    float: left;
    padding: 0px 12px;
    width: 75%;
    height: 100vh;
}

.CommentPanel {
    float: right;
    width: 10%;
}

.CommentNub {
    display: block;
    float: right;
    height: 100%;
    width: 20%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTab {
    display: none;
    float: right;
    border-radius: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 80%;
    width: 15%;
    position: absolute;
    overflow: auto;
    right: 0%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTab button {
    display: block;
    margin-top: 4px;
    background-color: #eff6ff;
    border-radius: 1.5rem;
    font-weight: 700;
    color: #60a5fa;
    padding: 12px 5px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
    border: 2px solid #bfdbfe;
}

.CommentTab button:hover {
    scale: 103%;
    border: 2px solid #60a5fa;
}
.CommentTab button:active {
    scale: 99%;
    border: 2px solid white;
}

.CommentListing {
    display: none;
}

.Comment {
    margin: 0.5em;
}

.CommentAuthor {
    text-align: left;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentText {
    text-align: left;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentAuthorSelf {
    text-align: right;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTextSelf {
    text-align: right;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.pdfobject-container {
    height: 80%; 
    border: 8px solid #60a5fa;
    border-radius: 2rem;
    margin-left: 12rem;
}

.pdfobject {
    border-radius: 1.5rem;
}
