.CourseListTab {
    float: left;
    width: 10%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
  
.CourseListTab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.CourseListTab button:hover {
    background-color: #ddd;
}
  
.CourseListTab button.active {
    background-color: #ccc;
}
  
.CourseTab button:hover {
    background-color: #ddd;
}
  
.CourseTab button.active {
    background-color: #ccc;
}

.CourseTab {
    display: none;
    float: left;
    width: 10%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
.CourseTab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
} 

.CourseContentListing button:hover {
    background-color: #ddd;
}
  
.CourseContentListing button.active {
    background-color: #ccc;
}

.CourseContentListing {
    display: none;
    float: left;
    width: 100%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
.CourseContentListing button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
} 

.CourseContent {
    display: none;
    float: left;
    padding: 0px 12px;
    width: 65%;
    height: 100%;
}

.CommentPanel {
    float: right;
    width: 10%;
}

.CommentNub {
    display: block;
    float: right;
    height: 100%;
    width: 20%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTab {
    display: none;
    float: right;
    height: 80%;
    width: 15%;
    position: absolute;
    overflow: auto;
    right: 0%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.CommentListing {
    display: none;
}

.Comment {
    margin: 0.5em;
}

.CommentAuthor {
    text-align: left;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentText {
    text-align: left;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentAuthorSelf {
    text-align: right;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.CommentTextSelf {
    text-align: right;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.pdfobject-container {
    height: 80vh;
    /* border: 1rem solid rgba(0,0,0,.1); */
    background-color: white;
}